@import '~bootstrap/scss/bootstrap';

// fonts 
@font-face {
    font-family: 'More Sugar';
    src: url('/fonts/more-sugar.regular.ttf')
}

@font-face {
    font-family: 'More Sugar Thin';
    src: url('/fonts/more-sugar.thin.ttf')
}

body {
    visibility: visible;
    font-family: 'More Sugar Thin';
}

//utils

.cm-btn-primary {
    background-color: #f48c06;
    border: 1px solid #f48c06;

    &:hover {
        background-color: #e48304;
    }
}

.show {
    display: block;
}

.cm-btn-secondary {
    background-color: #00a082;
    border: 1px solid #00a082;

    &:hover {
        background-color: #018a71;
    }
}

//generics

h1 {
    font-family: 'More Sugar';
}

th {
    font-family: 'More Sugar Thin';
    font-size: 18px;
}

// header 
.my-header {
    background-color: #f48c06;
    box-shadow: 0 0 5px black;
    font-family: 'More Sugar';
    font-size: 18px;
    position: sticky;
    left: 0;
    right: 0;
    top: 0;
    z-index: 5;
}

.dropdown-menu {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

//immagini 

.image-small {
    object-fit: cover;
    object-position: center;
    width: 60px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
}

.image-large-container {
    width: 500px;
}

.image-large {
    width: 100%;
    border-radius: 10px;
}

.icon-small {
    width: 100px;
    
}

// radio button 

.form-check-input:checked {
    background-color: #f48c06;
    border-color: #f48c06;
}

.form-check-input:focus {
    border-color: #f48c06;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(228, 220, 209, 0.897);
}

//img preview

.image-placeholder {
    width: 100%;

    img {
        width: 100%;
    }
}

//pagination

.page-link {
    color: #f48c06;

    &:hover {
        color: #834b03;
    }

    &:focus {
        box-shadow: 0 0 0 0.25rem rgba(228, 220, 209, 0.897);
        color: #834b03;
    }
}

.page-link.active,
.active>.page-link {
    color: var(--bs-pagination-active-color);
    background-color: #f48c06;
    border-color: #c97405;
}


.restaurant-image {
    width: 500px;

    img {
        width: 100%;
        border-radius: 10px;
    }
}

//input 

.form-control:focus {
    box-shadow: 0 0 0 0.25rem #c9740542;
    border-color: #f48c06;
}

.btn-link {
    color: #f48c06;

    &:hover {
        color: #c97405;
    }
}

.dropdown-item:active{
    background-color: #f48c06;
}

// image modal 

#image-modal-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;

    button {
        position: absolute;
        right: 90px;
        top: 90px;
        padding: 15px;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    figure {
        width: 500px;

        img {
            width: 100%;
            border-radius: 10px;
        }
}
}
.dashboard-footer {
    background-color: #f48c06;
    color: black;

}

.rest-card {
    height: 460px;
}

.home-restaurant-img {
    width: 350px;


    img {
        width: 100%;
        object-fit: cover;
        height: 250px;
    }
}

//type
.type-icon {
    width: 40px;
}

